@using NurfUs.Models
@model NurfUs.Models.SummonerSearch

@{
    ViewBag.Title = "League of Legends NURF mode denied by the mighty URF!";
    ViewBag.Description = "Prepare to have the mighty URF spatula brought down upon you. Urf's slimy flipper will touch every one of our lives.";
}

@using (Html.BeginForm())
{
    <section class="section" id="head">
        <div class="well panelBackground" id="guestEntry" @((!User.Identity.IsAuthenticated && Request.Cookies["clientName"] == null) ? "style=\"display: none;\"" : "")>
            <input type="text" class="form-control" placeholder="Enter your name" id="guestName" autocomplete="off" />
        </div>
        <div id="betArena" style="display: none;">
            <div class="well panelBackground">
                <h1 id="betQuestion"></h1>
            </div>
            <div class="well col-md-6 blueTeam" data-x-betid="100">
                <div class="checkMark"><img src="/Images/Checkmark.png" /></div>
                <h5><span class="label label-default">Blue Team</span></h5>
                <div class="list-group">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="summoner" id="participant1" data-x-betid="1"></div>
                            <div class="summoner" id="participant2" data-x-betid="2"></div>
                            <div class="summoner" id="participant3" data-x-betid="3"></div>
                            <div class="summoner" id="participant4" data-x-betid="4"></div>
                            <div class="summoner" id="participant5" data-x-betid="5"></div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="well col-md-6 purpleTeam" data-x-betid="200">
                <div class="checkMark"><img src="/Images/Checkmark.png" /></div>
                <h5><span class="label label-default">Purple Team</span></h5>
                <div class="list-group">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="summoner" id="participant6" data-x-betid="6"></div>
                            <div class="summoner" id="participant7" data-x-betid="7"></div>
                            <div class="summoner" id="participant8" data-x-betid="8"></div>
                            <div class="summoner" id="participant9" data-x-betid="9"></div>
                            <div class="summoner" id="participant10" data-x-betid="10"></div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="well panelBackground ">
                <div class="form-group">
                        <div class="col-md-3">
                            <input type="text" id="message" class="form-control" placeholder="Chat with your fellow URFers" autocomplete="off" />
                        </div>
                        <div class="col-md-5 btn-group">
                            <input type="button" class="btn btn-default" id="sendmessage" value="Send" />
                            <input type="button" class="btn btn-danger" id="applause" value="Live for the applause" />
                            <input type="button" class="btn btn-danger" id="fart" value="#FishFarts" />
                        </div>
                    </div>
                <div id="discussion-wrapper">
                    <ul id="discussion"></ul>
                </div>
            </div>
        </div>
    </section>
}

@section Scripts{
    <script src="/Scripts/Page/Main.js"></script>
}