@{
    ViewBag.Title = "League of Legends NURF mode denied by the mighty URF!";
    ViewBag.Description = "Prepare to have the mighty URF spatula brought down upon you. Urf's slimy flipper will touch every one of our lives.";
}

@using (Html.BeginForm())
{
    <section class="section" id="head">
        <span id="countDown"></span>
        <div class="well panelBackground" id="guestEntry">
            <div class="form-group">
                <div class="col-md-5">
                    <input type="text" class="form-control" style="max-width: 350px;" placeholder="Enter a name and hit enter to Login as a guest" id="guestName" autocomplete="off"/>
                </div>
                <div class="col-md-3 btn-group">
                    <input type="button" id="guestLogin" class="btn btn-default" value="Login as guest"/>
                </div>
            </div>
            <br/>
            OR
            <a href="/Account/Login" class="btn btn-default">Login</a>
            <br/>
            <br/>
            OR
            <a href="/Account/Register" class="btn btn-default">Register for a new account</a>
        </div>
        <div id="betArena" style="display: none;">
            <div class="well panelBackground">
                <h1 id="betQuestion"></h1>
                <div class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">$Fish$</span>
                            <input type="text" id="betAmount" class="form-control col-md-6" placeholder="Fish to bet" aria-describedby="basic-addon1">
                            <div id="payout" class="badge col-md-1" style="margin-top: 5px; margin-left: 5px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="well col-md-6 blueTeam" data-x-betid="100">
                <div class="checkMark"><img src="/Images/Checkmark.png" /></div>
                <h5><span class="label label-default blueTeamLabel">Blue Team</span></h5>
                <div class="list-group">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="summoner" id="participant1" data-x-betid="1"></div>
                            <div class="summoner" id="participant2" data-x-betid="2"></div>
                            <div class="summoner" id="participant3" data-x-betid="3"></div>
                            <div class="summoner" id="participant4" data-x-betid="4"></div>
                            <div class="summoner" id="participant5" data-x-betid="5"></div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="well col-md-6 purpleTeam" data-x-betid="200">
                <div class="checkMark"><img src="/Images/Checkmark.png" /></div>
                <h5><span class="label label-default purpleTeamLabel">Purple Team</span></h5>
                <div class="list-group">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="summoner" id="participant6" data-x-betid="6"></div>
                            <div class="summoner" id="participant7" data-x-betid="7"></div>
                            <div class="summoner" id="participant8" data-x-betid="8"></div>
                            <div class="summoner" id="participant9" data-x-betid="9"></div>
                            <div class="summoner" id="participant10" data-x-betid="10"></div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- NurfUs Mobile ad -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:320px;height:100px"
                 data-ad-client="ca-pub-2001188018575506"
                 data-ad-slot="2398408271"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <div class="well panelBackground ">
                <div class="form-group">
                    <div class="col-md-3">
                        <input type="text" id="message" class="form-control" placeholder="Chat with your fellow URFers" autocomplete="off" />
                    </div>
                    <div class="col-md-4 btn-group">
                        <input type="button" class="btn btn-default" id="sendmessage" value="Send" />
                        <input type="button" class="btn btn-danger" id="applause" value="Live for the applause" data-toggle="tooltip" data-placement="top" title="Costs 20K feesh" />
                        <input type="button" class="btn btn-danger" id="fart" value="#FishFarts" data-toggle="tooltip" data-placement="top" title="Costs 30K feesh" />
                    </div>
                </div>
                <div id="discussion-wrapper">
                    <ul id="discussion"></ul>
                </div>
            </div>
        </div>
</section>
}

@section Scripts{
    <script src="/Scripts/bootstrap-spinedit.js"></script>
    <link href='/Content/bootstrap-spinedit.css' rel='stylesheet' type='text/css'>
    @Scripts.Render("~/bundles/mainpage")
}