@using NurfUs.Models
@model NurfUs.Models.SummonerSearch

@{
    ViewBag.Title = "League of Legends NURF mode denied by the mighty URF!";
    ViewBag.Description = "Prepare to have the mighty URF spatula brought down upon you. Urf's slimy flipper will touch every one of our lives.";
}

@using (Html.BeginForm())
{
    <section class="section" id="head">
        <div class="well col-md-6">
            <h5><span class="label label-default blueTeam">Blue Team</span></h5>
            <div class="list-group">
                <div class="panel panel-info">
                    <div class="panel-heading blueTeam">
                        <div class="summoner" id="participant1"></div>
                        <div class="summoner" id="participant2"></div>
                        <div class="summoner" id="participant3"></div>
                        <div class="summoner" id="participant4"></div>
                        <div class="summoner" id="participant5"></div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="well col-md-6">
            <h5><span class="label label-default purpleTeam">Purple Team</span></h5>
            <div class="list-group">
                <div class="panel panel-info">
                    <div class="panel-heading purpleTeam">
                        <div class="summoner" id="participant6"></div>
                        <div class="summoner" id="participant7"></div>
                        <div class="summoner" id="participant8"></div>
                        <div class="summoner" id="participant9"></div>
                        <div class="summoner" id="participant10"></div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div>&nbsp;</div>
        <div class="well panelBackground ">
            <div id="gameDetail"></div>
            <input type="text" id="message" class="form-control" placeholder="Chat with your fellow URFers" autocomplete="off" />
            <input type="button" class="btn-default" id="sendmessage" value="Send" />
            <input type="hidden" id="displayname" />
            <div id="discussion-wrapper">
            <ul id="discussion"></ul>
            </div>
        </div>
    </section>
}

@section Scripts{
    <script src="/Scripts/Page/Main.js"></script>
}