@using NurfUs.Models
@model IEnumerable<NurfUs.Models.UserInfo>

@{
    ViewBag.Title = "Nurf.Us Leaderboard";
    ViewBag.Description = "Users with the most fish on the site.";
}

@if (Model.Any())
{
    <table class="table" style="margin-top: 100px;">
        <thead>
            <tr class="well">
                <th>User</th>
                <th>Fish</th>
                <th># Correct</th>
                <th># Incorrect</th>
            </tr>
        </thead>
        <tbody>
            @foreach (UserInfo userInfo in Model)
            {
                <tr class="well">
                    <td>@userInfo.UserKey</td>
                    <td>@userInfo.Currency</td>
                    <td>@userInfo.CorrectGuesses</td>
                    <td>@userInfo.InCorrectGuesses</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="well">
        <strong>
            No users have played yet.  Start betting!
        </strong>
    </div>
}